*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*10px = 1rem*/
}

body {
  background-color: #f8fcfa;
}

/* MOBILE VIEW */

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.img {
  margin-top: 0.5rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.err {
  font: bold 6rem "Segoe UI";
  color: #2e4050;
  margin-bottom: 1.6rem;
}

.err__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.err__info {
  font: 1.5rem "Segoe UI";
  color: #2e4050;
}

.try {
  display: block;
  text-align: center;
  margin-bottom: 3.6rem;
}

.btn {
  background-color: #d66265;
  color: #fff;
  font: bold 1.8rem "Segoe UI";
  border: none;
  padding: 1.5rem 5rem;
  border-radius: 5rem;
  outline: none;
  cursor: pointer;
}

/* END OF MOBILE VIEW */

/* DESKTOP VIEW */

@media only screen and (min-width: 1025px) {
  #container {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  img {
    width: 29.8rem;
    height: 45.9rem;
    margin: 0 0 0 17.2rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .err__title {
    font-size: 15rem;
  }

  .err__info {
    font: bold 2rem "Segoe UI";
    margin-top: 3rem;
  }

  .try {
    margin-bottom: 2rem;
  }

  .btn {
    display: initial;
    background-color: #d66265;
    color: #fff;
    font: bold 2.8rem "Segoe UI";
    border: none;
    padding: 1rem 7.7rem;
    border-radius: 5rem;
    margin-top: 5.1rem;
    outline: none;
    cursor: pointer;
  }
}
